#mini_games {
    font-family: "Prompt", sans-serif;
}
#mini_games div.frame {
    position: absolute;
    width: calc(100% - calc(2.604vw * 2) - 1.3020vw);
    height: calc(100% - calc(1.041vw + 2.6041vw + 1.0416vw) - 1.0416vw);
    left: 50%;
    top: calc(1.0416vw + 2.6041vw + 1.0416vw);
    transform: translateX(-50%);
}
#mini_games div.background {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(0.4166vw);
    border-radius: 0.5208vw;
}
#mini_games div.frame div.container {
    position: absolute;
    left: 50%;
    top: calc(50%);
    transform: translate(-50%, -50%);
    display: flex;
}
#mini_games div.frame div.container div.left {
    display: grid;
    grid-template-columns: 8.3333vw 8.3333vw 8.3333vw;
    grid-template-rows: 8.3333vw 8.3333vw 8.3333vw 8.3333vw;
    gap: 0.4166vw;
    margin-right: 0.7812vw;
    user-select: none;
}
#mini_games div.frame div.container div.left div.item {
    background-color: rgb(163, 163, 163);
    border-radius: 0.5208vw;
    overflow: hidden;
    border: 0.2083vw solid rgb(163, 163, 163);
}
#mini_games div.frame div.container div.left div.item img {
    width: 8.3333vw;
    height: 8.3333vw;
    transform: scale(1.00001);
}
#mini_games div.frame div.container div.left div.item div.hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    width: 8.3333vw;
    height: 1.5625vw;
    text-align: center;
    padding-top: 0.1562vw;
    padding-bottom: 0.3645vw;
    font-size: 0.7812vw;
}
#mini_games div.frame div.container div.left div.item:hover {
    border: 0.2083vw solid rgba(255, 211, 34, 1);
}
#mini_games div.frame div.container div.left div.item:hover img {
    animation: minigame_item_hover ease 0.2 forwards;
}
#mini_games div.frame div.container div.right {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5208vw;
    overflow: hidden;
    padding: 1.0416vw;
    width: 41.6666vw;
}
#mini_games div.frame div.container div.right div.img {
    width: 31.25vw;
    height: 13.0208vw;
    border-radius: 0.5208vw;
    margin-bottom: 0.9375vw;
    margin: 0px auto 1.0416vw auto;
    overflow: hidden;
}
#mini_games div.frame div.container div.right div.img div.item {
    width: 31.25vw;
    height: 13.0208vw;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2.6041vw;
}
#mini_games div.frame div.container div.right div.img div.item img {
    max-width: 31.25vw;
    max-height: 13.0208vw;
    border-radius: 0.5208vw;
}
#mini_games div.frame div.container div.right div.img div.item.active {
    display: flex;
}
#mini_games div.frame div.container div.right div.text {
    font-size: 1.0416vw;
    transform: translateY(3.9062vw);
    opacity: 0;
}
#mini_games div.frame div.container div.right div.name {
    font-size: 1.8229vw;
    font-weight: bold;
}
#mini_games div.frame div.container div.right div.genre {
    margin: 0.2604vw 0px 0.2604vw -0.2604vw;
}
#mini_games div.frame div.container div.right div.genre span {
    border: 0.1041vw solid rgb(0, 79, 223);
    background-color: rgba(0, 79, 223, 0.3);
    border-radius: 0.2604vw;
    margin: 0px 0.2604vw 0px 0.2604vw;
    padding: 0px 0.2604vw 0px 0.2604vw;
}
#mini_games div.frame div.container div.right .animation {
    animation: text_slice_up ease 0.4s forwards;
}
