#characters {
    font-family: "Roboto", sans-serif;
}
#characters div.frame {
    position: absolute;
    width: calc(100% - calc(2.604vw * 2) - 1.3020vw);
    height: calc(100% - calc(1.041vw + 2.6041vw + 1.0416vw) - 1.0416vw);
    left: 50%;
    top: calc(1.0416vw + 2.6041vw + 1.0416vw);
    transform: translateX(-50%);
}
#characters div.background {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(0.4166vw);
    border-radius: 0.5208vw;
}
#characters div.frame div.container {
    position: absolute;
    left: 50%;
    top: calc(50%);
    transform: translate(-50%, -50%);
    display: flex;
}
#characters div.frame div.container div.left {
    display: grid;
    grid-template-columns: 7.2916vw 7.2916vw 7.2916vw 7.2916vw 7.2916vw 7.2916vw 7.2916vw;
    grid-template-rows: 7.2916vw 7.2916vw 7.2916vw 7.2916vw;
    gap: 0.3125vw;
    user-select: none;
}
#characters div.frame div.container div.left div.item {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0.5208vw;
    border: 0.2083vw solid rgb(163, 163, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}
#characters div.frame div.container div.left div.item:hover {
    border: 0.2083vw solid rgba(255, 211, 34, 1);
}
#characters div.frame div.container div.left div.item img {
    max-width: 5.9895vw;
    max-height: 5.9895vw;
}
#characters div.frame div.container div.left div.item:hover img {
    transform: scale(1.1);
}
#characters div.frame div.container div.right {
    margin-left: 1.5625vw;
}
#characters div.frame div.container div.right div.img {
    width: 20.8333vw;
    height: 26.0416vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    user-select: none;
}
#characters div.frame div.container div.right div.img img {
    max-width: 20.8333vw;
    max-height: 26.0416vw;
}
#characters div.frame div.container div.right div.img.animation {
    animation: opacity ease 0.5s forwards;
}
#characters div.frame div.container div.right div.name {
    font-size: 2.6041vw;
    font-weight: bold;
    text-align: center;
    transform: translateY(25%);
}
#characters div.frame div.container div.right div.name.animation {
    animation: text_name_slice_up ease 1s forwards;
}